/app/build/
/app/google-services.json
/app/keystore.jks
/app/release/app-release.aab
/build
/captures
/config/keystore.jks
.DS_Store
.externalNativeBuild
.gradle
!/.idea/
/.idea/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
*.iml
/local.properties
