/build
/captures
/config/keystore.jks
.DS_Store
.externalNativeBuild
.gradle
!/.idea/
/.idea/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/runConfigurations.xml
/.idea/sonarlint/
/.idea/workspace.xml
*.iml
/local.properties
/app/build/
/app/release/app-release.aab
